body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  margin: 10px;
}
input {
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}
.hidden {
  display: none;
}
button{
	margin: 5px;
}
#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 15px;
}
#filters {
	margin-top: 10px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#box {
	position: absolute;
	top: 70%;
	align-self: center;
	z-index: 500;
}
span{
	font-weight: bolder;
}
